
body{
  background-image: url("../imagaenes/background.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  margin: 0;
  
}

h2{
  font-size: 200%;
  color: white;
 
}

h3{
  color: black;
  font-size: 130%;
  
}

h1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 260%;
  
}

.loader h1{
  font-size: 500%;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  animation: loadingText 3.0s linear;
}

@keyframes loadingText {
  from {top: 100%;}
  to {top: 1%;}
}



.capa {
  min-height: 1000px;
    width: 100%;
    height: 200%;
 
  
  background-size: cover;
 
}

.capa {
  min-height: 1000px;
    width: 100%;
    height: 200%;
 
  
  background-size: cover;
 
}

.lluvia {        
  

  background-image: url("../imagaenes/parallax/lluvia1.png");     
  animation: parallax 10s infinite linear; 
  
}
@keyframes estreno-anime {
  from {font-size: 180%;}
  to {font-size: 260%;}
}


@keyframes parallax {
  from {background-position-y: 0px;}
  to {background-position-y: 2000px;}
}

@keyframes entrada {
  from {margin-left: 100%;}
  to {margin-left: 0%;}
}

.entrada{
  animation: entrada 1.5s;
}


.topnav {
  position: relative;
    overflow: auto;
    text-align: center;
    background-color: rgb(160, 33, 33);
  
  }
  
  .topnav a {
    transition: 1s;
    display: inline-block;
    
    color: #f2f2f2;
    text-align: center;
    padding: 30px 80px;
    text-decoration: none;
    font-size: 20px;
 
  }

  @keyframes estreno {
    from {}
    to {width: 30%;
        background-color: rgba(2, 31, 68, 0.918);
        box-shadow: 20px 27px 20px 14px rgba(0, 0, 0, 0.836);
        
    }
  }

  #estreno{
 
    animation: estreno 1.5s infinite;
    border-radius: 15px;
    border-color: red;
    border-style: solid;
    width: 15%;
    margin: 5% auto auto auto;
  
    color: rgb(255, 255, 255);
    padding: 1%;
    font-size: 200%;
    text-align: center;
  }

  .estreno-anime{
    
    
    animation: estreno-anime 1.5s infinite;
  }
  

  
  .dropdown {
    display: inline;
    
  }
  
  .dropdown .dropbtn {
    
    font-size: 20px;    
    border: none;
    outline: none;
    color: white;
    padding: 30px 80px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
  
    background-color: #f9f9f9d5;
 
   
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    font-size: 25px;
    transition: 1s;
    background-color: rgba(6, 6, 8, 0.692);
  
    color: white;
    border-width: 3px;
  }
  

  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
  }
  
 
  
.entrada-escenas{
  animation: entradaEscenas 2s;
}

.escenas {
  
  position: relative;
  max-width: 800px;
  margin: 5% auto 0 auto;
  
  background-color: #4e4e4e79;
  padding: 1% 8.5%;
  border-radius: 15px;
 
}




.btnPrev, .btnNex {
  background-color: rgba(255, 0, 0, 0.548);
  cursor: pointer;
  position: absolute;
  top: 55%;
  padding: 16px;
  color: rgb(255, 236, 236);
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.btnNex {
  margin-left: 71.4%;
  border-radius: 3px 0 0 3px;
}


.siguiente:hover, .btnNex:hover, .btnPrev:hover {
  background-color: rgb(255, 0, 0);
}

.slides img{
  border-radius: 20px;
  width: 100%;
}



@media only screen and (max-width: 300px) {
  .siguiente, .btnNex,.text {font-size: 11px}
}


@keyframes entrada-cards {
  from {width: 2%;}
  to {transform: rotateX(360deg);
      width: 100%;
     
  }
}

@keyframes entradaEscenas {
  from {opacity: 0;
    filter: blur(50px);}
  to {opacity: 1;
    filter: blur(0px);
   
  }
}

.entrada-cards{
  animation: entrada-cards 3s;
}

#cards{ 
  
  text-align: center;
  max-width: 50%;
  
  background-color: #4e4e4e79;
  margin: 5% auto 4% auto;
  border-radius: 15px;
  padding: 2% 5%;

}

html,body{

  height:100%;
  }


#cards div{
  display: inline-block;
  width: 25%;
  height: 400px;
  color: rgb(0, 0, 0);
 background-color: #ffffff;
  border-radius: 15px;
  margin: 1% 2% 5% 2%;
  transition: 1s;
  border-color:white;
  border-width: 1px;
  border-style: solid;

}



#cards div:hover {
 
  transform: scale(1.1);
  transition: 1s;
  text-decoration: underline;
  box-shadow: 20px 27px 20px 14px rgba(0, 0, 0, 0.836);
}
#cards div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  max-height: 85%;
  margin-bottom: 0;

}
@keyframes entradaForm {
  from {}
  to {transform: rotateX(360deg);
    transition: 1s
  }
}

.d-none{
  display: none;
}




.loader{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(196, 5, 5, 0.788) 50%, transparent 50%);
  background-size: 100% 200%;

  animation: loading 3s linear; /** I've changed the time for demo purposes **/
  color: black;
}




@keyframes loading {
  0% {  background-position: top;}
  100% {  background-position: bottom;}
}



form{
  animation: entradaForm 2s ;
  padding: 2%;
  position: relative;

  text-align: center;
  margin: 2% auto 2% auto;  
  width: 40%;
  background-color: #4e4e4e79;
  border-radius: 15px;
}
form label{
  margin: 2% 0 2% 0;
  color:white;
  display: block;
  size: 100%;
  
}

form button{
  display: block;
  margin: auto;
  margin-top: 4%;
  padding: 2%;
  border-radius: 15px;
  outline: none;
  font-size: 130%;
  transition: 2s;
}
form label{
  font-size: 140%;
}

form input, form textarea{
  color: white;
  padding: 0.5%;
  width: 40%;
 font-size: 200%;
 
}

form input:focus, form textarea:focus{
  transform: rotateX(360deg);
  transition: 1s;
  border-radius: 15px;
  border-color: white;
  border-style: solid;
  outline: none;
  background-color: rgba(224, 28, 28, 0.774);
}





form button:active{
  
  background-color: rgba(255, 0, 0, 0.986);
  width: 15%;
  transition: -1s;
  border-color: white;
  border-style: solid;
  outline: none;
  color: white;
  font-size: 150%;
  
}

.acordeon-eventos{
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  
}

.accordion {
  background-color: rgb(156, 5, 5);
  color: rgb(241, 235, 235);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;

}

.active, .accordion:hover {
  background-color: rgba(97, 3, 3, 0.986);
}

.accordion:after {
  content: '\002B';
  color: rgb(255, 250, 250);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.acordeon-eventos h1{
  background-color: rgba(68, 65, 65, 0.692);
}

.panel img{
  width: 50%;
  text-align: center;
  margin: 2% 25%;
  transition: 1s;
  opacity: 85%;
}
.panel img:hover{

  transform: scale(1.1);
  transition: 1s;
  text-decoration: underline;
  opacity: 100%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.836);
}


@keyframes btn-acordeon{
  0% {  width: 5%;}
  100% {  width: 100%;}
}

.acordeon-eventos button{
  animation: btn-acordeon 1s;
}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
