*{
    font-family: Ramabhadra;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}
/* Barra nav */
/* Fondo Barra nav */
#fondo-barra{
    background-color: #121212;  
    padding: 1%;
}

/* Logo Barra Nav */
.logo-titulo{
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 91px;
    color: #DFDFDF;
}

.logo-barra, .logo-barra:hover{
    text-decoration: none;
    font-size: 40px;
    color: #DFDFDF;
}

#logo{
    padding-right: 5%;
    width: 130px;
}


.filtros div{
    display: flex;
    justify-content: space-between;
    width: 50%;
   

    
}

.filtros :first-child{

    margin-right: 15%;

    
}

#logo-barra-nav{
    background: url("../imagenes/logo.png");
    background-size: contain;
    border-radius: 15px;
    width: 130px;
    height: 87px;

}

#fondo-barra ul li a.active{
    border-bottom: #F7A325 solid 2px;
}

/* Elementos Barra Nav */
.botones-nav ul li a{
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 57px;
    text-align: center;
    color: #DFDFDF;
}
/* Barra nav */

/* Seccion */
.introduccion{
    position: relative;
    background-image: url("../css/imagenes/background1.jpg");
    background-size: cover;
    height: 80%;
    padding: 5%;
}

.texto-introduccion{
    font-family: Ramabhadra;
    margin: 5% 10%;
    display: inline-block;
    text-align: center;
    color: white;
}
.texto-introduccion h1{
    display: none;
}

.texto-introduccion h2{
    padding-top: 5%;
    font-size: 40px;
}

.texto-introduccion p{
    font-size: 20px;
}

.texto-introduccion .btn-prueba{
    padding: 2.5% 7%;
    background-color: #F7A325;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    margin: 13% 0;
    color: white;
}
.imagen-discos img{
    width: 700px;
    height: 544px;
    border-radius: 20px;
}

.imagen-discos{
    position: absolute;
    display: inline-block;
    margin: 1% 5%;
}
/* Seccion */

/* Planes */
.ofertas{
    background-color: #111111;
}
.ofertas h1{
    text-align: center;
    color: white;
}

.contenedor-planes{
    margin: 3%
}

.tarjeta, .tarjeta-dividida, .tarjeta-ubicacion{
    padding: 0;
    width: 380px;
    height: 600px;
    border-radius: 16px;
    font-weight: bold;
}

#btn-playlist{
    height: 38px;
    font-size: 15px;
    padding-bottom: 1.8%;
    margin-bottom: 8px;
    padding-top: 0.5%;
    width: 12%;
    color: #FFFFFF;
    background-color: transparent;

}

.tarjeta .btn{
    border: solid black 1px;
    background-color: #F7A325;
    color: white;
    width: 50%;
    text-align: center;
    margin: 5% 0 0 50%;
    transform: translateX(-50%);
}

.encabezado{
    padding: 1px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #b7b7b7;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.encabezado h3{
    font-weight: bold;
    padding: 1% 0;
    font-size: 25px;
}

.elementos-precios p{
    text-align: center;
    padding: 1%
}

.elementos-precios ul{
    list-style-type: none;
    padding: 5%;
}

.elementos-precios ul li{
    padding: 3%;
}

.item-beneficio img{
    margin-right: 3%;
    width: 31px;
}

.item-desventaja img{
    margin-right: 3%;
    width: 27px;
}
/* Planes */

/* Footer */
footer img{
    width: 100%;
    height: 100%;
}

.footer-mobile-azul{
    display: none;
}
/* Footer */

/* Log in */
.introduccion-login{
    position: relative;
    background-image: url("../css/imagenes/background1.jpg");
    background-size: cover;
    height: 80%;
    padding: 5%;
}

.login{
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    display: block;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 0 5%;
}

.titulo-login{
    color: white;
    text-align: center;
} 

.login input{
    width: 100%;
    height: 60px;
    border-radius: 7px;
    border: solid #BBBBBB;  
}  

.login label{
    font-size: 25px;
    margin-top: 5%;
} 

.login p{
    text-align: center;
    margin: 3%;
}

.btn-login{
    margin: 8% 0 2% 0;
    width: 100%;
    background-color: #F7A325;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    padding: 2.5%;
}

.btn-facebook, .btn-google{
    width: 100%;
    background-color: #BBBBBB;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    padding: 2%;
    margin: 2% 0;
}

.btn-facebook img{
    width: 5%;
}

.btn-google img{
    width: 5%;
}

.btn-google span{
    width: 5%;
}

.login p a{
    text-decoration: none;
    color: #DFDFDF;
    font-weight: bold;
}

.footer-mobile-dark{
    display: none;
}

/* Log in */

/* Registro */
.introduccion-registro{
    position: relative;
    background-image: url("../css/imagenes/background1.jpg");
    background-size: cover;
    height: 80%;
    padding: 5%;
}

.registro{
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    display: block;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 0 5%;
}

.titulo-registro{
    color: white;
    text-align: center;
} 

.registro input{
    width: 100%;
    height: 60px;
    border-radius: 7px;
    border: solid #BBBBBB;  
}  

.registro label{
    font-size: 25px;
    margin-top: 5%;
} 

.registro p{
    text-align: center;
    margin: 3%;
}

.btn-login{
    margin: 8% 0 2% 0;
    width: 100%;
    background-color: #F7A325;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    padding: 2.5%;
}

.input-menores{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
}

.genero, .edad{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1%;
}

.input-menor{
    width: 100%;
}

.footer-mobile-dark{
    display: none;
}
/* Footer */

/* Reproductor Grande */
.reproductor-grande{
    background-color: #323232;
    color: white;
    padding: 3% 6%;
}

.flecha-volver{
    width: 50px;
    transform: rotate(180deg);   
}

.titulo-votacion{
    margin-top: 2%;
    display: flex;
}

.votacion-megusta{
    margin-left: 14%;
   
}

.votacion-megusta .estrella-reproductor{
  margin-left: 20px;
}

#duracion-cancion{
    width: 45%;
    margin-top: 4%;
}


.contenedor-cancion img{
    width: 55%;
    border-radius: 20px;
}

.contenedor-cancion .corazon-reproductor, .contenedor-cancion .estrella-reproductor{
    width: 40px;
}

#duracion{
    width: 70%;
}

.volumen-reproductor img{
    width: 4%;
    margin-left: 8%;
    margin-bottom: 10%;
    
}


.volumen-reproductor input{
    width: 200px;
    margin-left: 2%;
    margin-bottom: 10%;
}

.datos-cancion img{
    width: 12%;
}

.letra-cancion img{
    margin-left: 50%;
    transform: translateX(-50%);
}

.cancion .mockup-reproductor{
    width: 40%;
    margin-left: 7%;
    margin-top: 4%;
    margin-bottom: 4%;

}
/* menu-reproductor */
.menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background: #111111;
    padding-top: 1.62%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 15px;

}
.inicio-menu p{
margin-bottom: 10%;

}

.mi-coleccion p {
    margin-top: 10%;
    margin-bottom: 0;
    display: inline-block;
}

.mi-coleccion{

    margin-top: 30%;
    
}



.user{
    display: inline-block;
    margin-bottom: 30%;
   
}


.user p{
    display: inline-block;
    margin-left: 10px;
   

}
.menu-user{
    display: inline-block;
    width: 25px;
    margin-left: 3.5vw;

}

/* filtros */
.contenido-filtro{
    display: flex;
    margin-top: 4%;
    justify-content:space-between;
    width: 145%;
    margin-left: auto;
    margin-right: auto;

   
    
}    

.contenido-filtro hr{
    margin-top: 0;
}

.albunes-filtros div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

h3{
    font-size: 12px;
    margin-top: 0;
    margin-top: 2%;
}

.canciones-filtros div{
    display: flex;
    justify-content: space-between;
    

}

.filtros {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-width: 2px;
}

.imagen-perfil{
    width: 40px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 75px;
    
}

section article img{
    width: 30px;
    height: 30px;
    margin-right: 19px;
    display: inline-block;
}


.reproductor{
 
  
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0;
    bottom: 0;
    background: #111111;
    font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #FFFFFF;
    padding-left: 31px;
    padding-bottom: 16px;
}

hr{
    border: 1px solid #FFFFFF;

    margin-top: 10px;
   
}

.cancion-reproduciendo img {
    width: 71px;
    height: 67px;
   
   
 
}

.shuffle{
    width: auto;
    height: 4vh;
}
 
.cancion-reproduciendo{
    display: flex;

   
}

.cancion-reproduciendo article{
    display: flex;
    flex-direction: column;
    
}

.cancion-reproduciendo p{
    margin-top: 0;
    margin-bottom:2px;
    font-size: 0.7vw;
    
}

.acciones img {
    height: 2.5vh;
    width: auto;
}

.acciones{
   
    display: flex;
 
    margin-left: 4.4%;
    align-items: center;
}



.botones-reproductor{
    position: absolute;
    display: flex;
    flex-direction: row;
    left:39.7% ;
    right: auto;
    align-items: center;
}

.botones-reproductor article {
    
    margin-left: 1.4vw;
}

.principal{
   
    height: 3.7vh;
    width: auto;
}

.carrousel article .inner .back a img{
    width: 92%;
    height: auto;
    margin-left: 5%;
}

.carrousel article .inner .back a{
    margin-left: 5%;
}

.secundario{
   
    height: 2vh;
    width: auto;
}

.config img{
    height: 1.8vh;
    width: auto;
}

.config{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1%;
  
}

#volumen{
    width: 6.5vw;
    height: 4px;
}

#expandir{
    transform: rotate(-90deg);
    align-self: center;
    margin-right:30px;
    width: auto;
    height: 2vh;
}

#duracion input{
    margin-left: 10px;
    margin-right: 10px;
    width: 30.3vw;
    height: 4px;
    
}

#duracion{
    display: flex;
    position: absolute;
    align-items: center;
    top: 5px;
    left: 33.5%;
    
}

#duracion p{
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;

}


.contenedor{
    position: relative;
    display: flex;
    margin-top: 15px;
    align-items: center;
    margin-top: 4vh;
  
    
  

}
/* Reproductor */


#titulo-carrousel{
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}


::-webkit-scrollbar {
    width: 13px;
    height: 12px;
   
    
  
  }
  

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:    #1d1d1d; 
    border-radius: 10px;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    
    background:  #181818; 
    
  }



.inicio{
    position: absolute;
    width: 85%;
    height: 90%;
    left: 15%;
    top: 0;
    padding:  2.3% 50px 0 50px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #323232;
    color: #FFFFFF;

}

h2{
     
    font-size: 25px;
    color: white;
}

h1{
    color: white;
  
    font-size: 30px;
}



/* cambiar display none por flex para celu */

.nav-celu{
    display: none;
    width: 100%;
    background: #111111;
    color: white;
    
    padding: 1vh 8vw;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}

.nav-celu p {
    margin-bottom: 0;
    font-size: 10px;
}
.nav-celu article{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: Ramabhadra;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 23px;
}

.nav-celu img{
    width: 6vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}

#expandir2{
    display: none;
    transform: rotate(-90deg);
    height: 2.5vh;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  
}

.nav-cel-top{
    display: none;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 9%;
    background: #181818;
    align-items: center;
    padding: 0 8vw;
    color: #FFFFFF;
}

.nav-cel-top img {
    border-width: 10px;
    border-radius: 75px;
    width: 8vw;
    height: auto;
    margin-right: 12px;

}

#dropdown-user{
   
    position: absolute;
    right: 8%;
  
}

#dropdown-user span{
    font-size: 6vw;
   
}



.carrousel{
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 3.9%;
    margin-top: 2%;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: pointer;

    padding-bottom: 1%;
    
}

.back{
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    padding: 10%;
    justify-content: space-between !important;
    margin-top: 3% !important;
    margin-bottom: 0;
    transform: rotateY(180deg) translateZ(15px);
    backface-visibility: hidden;
    box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.685);
    background-color: #1f1e1e !important;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
    cursor: auto;    
   

}



.table th{
    border-top-style: none;
}

 .table td {
    border-style: none !important;
   
   
}

.front{
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.685);


}


#flip{
    perspective: 1000px;
    background-color: transparent;
  
    
    
    
}

.inner{
    transition: transform 0.6s;
    transform-style: preserve-3d;
}



#flip:hover .inner {
    transform: rotateY(180deg);
  
}

.carrousel article .inner .back img{
    width: 45%;
    border-radius: 50%;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.685);
    height: auto;
}

.carrousel article .inner .back :nth-child(2){
    margin-top: 4.5%;
}

.active{ 
   color: #F7A325;   
}



.carrousel img {
    max-width: 150px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 0;
  
}

.carrousel article{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
    margin-right: 2.5%;
    text-align: center;
  
    max-width: 150px;
    height: auto;
     
  
}

.carrousel article :nth-child(2){
    margin-top: 10%;
    font-size: 15px;
    margin-bottom: 3%;
 
}

.carrousel article :nth-child(3){
    font-size: 13px;
    margin-bottom: 3%;
    
 
}

.coleccion .carrousel article div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    min-height: 80px;
    background-color: #C4C4C4;
    border-radius: 10px;

}




 .carrousel article div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    min-height: 150px;
    background-color: #C4C4C4;
    border-radius: 10px;


}

/* cambiar display none por flex desde js */
.dropdown-user-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 9%;
    right: 0;
    width: 100%;
    background: #121212;
    
    z-index: 10;
    padding: 0 4%;
    
    
}

.dropdown-user-menu a{
    padding: 5%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
  
    
}

.coleccion{
    display: none;
}


.coleccion .carrousel article img , .playlist article  img{
    width: 60px;
    height: 60px;
  

}

 .carrousel  img {
    width: 150px;
    height: 150px;
  

}


#titulo-contenido{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    align-items: center;
  
    
}


/* detalle PLaylist */

.detalle{
    display: flex;
    color: #FFFFFF;
 
    
}

.detalle .botones img{
    width: 50px;
    height: 50px;
}

#img-playlist{
    width: 18%;
    margin-right: 3%;
    height: auto;
    border-radius: 18px;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.685);
}

#estrellas-playlist{
    width: 30%;
    margin-top: 4%;
    margin-bottom: 8%;

}

.detalle article h2{
    margin-bottom: 10%;
}


#canciones-playlist :last-child{
    width: 115px;
    height: auto;
}

table, td, tr{
    color: #FFFFFF;
}

.img-play{
    width :27px;
}

.j{
    width: 100%;
    margin-left: 10%;
}

.t2{
    margin-top: 20%;
    display: none;
    width: 200%;
 
}


table{
    margin-top: 5%;
    margin-bottom: 5% !important;
}
#canciones-playlist{
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}
#canciones-playlist :first-child{
    width: 20px;
    height: 20px;
}

.j{
    width: 25%;
}



#titulo-contenido :nth-child(2){
    display: flex;
    justify-content: flex-end;
    
}

.votosRecientes2 article:hover{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.685);
    animation: efectoVoto 1s forwards;
}

@keyframes efectoVoto{
    from {
        transform: scale3d(1, 1, 1)
    }
    
    to {
        transform: scale3d(1.1, 1.1, 1.5);
    }
}



table tbody tr:hover{
    box-shadow: 10px 10px 18px 0 rgba(0, 0, 0, 0.685);
    animation: efectoTabla 1s forwards;
}

@keyframes efectoTabla{
    from {
        transform: scale3d(1, 1, 1)
    }
    
    to {
        transform: scale3d(1.05, 1.05, 1.1);
    }
}


.btn-vermas-busqueda{
    background-color: transparent;
    border-radius: 10px;
    border: solid white 2px;
    color: white;
    min-height: 38px;
}

#popvoto{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 71.2%;
    left: 23.4%;
    right: 0;
    z-index: 330;
    width: 20%;
    height: 25%;
   background: #000000;
   border-radius: 10px;
   color: #FFFFFF;
   padding: 2%;
   justify-content: center;
   align-items: center;
}

ul{
    padding: 0;
}

/* raiting */
.ratings {
    list-style-type: none;
    text-align: center;
    width: 100%;
    direction: rtl;
    
  }
  
  .star {
    position: relative;
    line-height: 60px;
    display: inline-block;
    transition: color 0.2s ease;
    color: #ebebeb;
   
  }

  .d-none{
      display: none;
  }
  
  .btn-warning{
      background-color: #F7A325;
      color: #FFFFFF;

  }

  .star:before {
    content: '\2605';
    
    font-size: 250%;
  }
  
  .star:hover,
  .star.selected,
  .star:hover ~ .star,
  .star.selected ~ .star{
    transition: color 0.8s ease;
    color: #F7A325;
  }

  .filtros hr {
      margin: 0;
  }


 

.votosRecientes2{
    padding: 2% 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 5%;
   

}



.votosRecientes2 img{
  width: 100px;
  height: auto;
  border-radius: 10px;
  margin: 0;

}
.votosRecientes2 article{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    margin-right: 3%;
    height: 200px;
    justify-content: space-between;
}
  

table tr :first-child {
    
    width: 10%;
    
}
.votosRecientes2 article{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    margin-right: 3%;
    height: 200px;
    justify-content: space-between;
}
  

  


 


table tr :last-child {
    text-align: end;
    width: 1%;
    
}

.datos-generales{
    padding-top: 4%;
    margin-bottom: 5%;
  
}

.input-group{
    width: 30%;
}

.comentario{
    display: flex;
    max-width: 400px;
    min-width: 300px;
    margin-right: 1%;

}

.comentario div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3%;
   
}

.comentario img{
    
    width: 100px !important;
    height: auto;
    border-radius: 10px;


}

.comentarios{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 1.5%;

}

.filtros p{
    margin-bottom: 0;
    margin-right: 0 !important;
}

@media only screen and (max-width: 600px){
    .filtros{
        margin-bottom: 10%;
        flex-direction: column;
        justify-content: center;
        
    }
    .filtros div{
        width: 100%;
        padding: 2%;
    }

    .btn-vermas-busqueda{
        min-height: 28px;
    }

    .comentarios{
      
       flex-direction: column;
    }
    .datos-generales h2{
        margin-top: 0 !important;
    }
    .comentario{
        height: 60px;
    }

    .input-group button {
        height: 38px !important;
    }

    .input-group {
        margin-bottom: 0 !important;
    }
    .comentario img{
    
        width: 60px !important;
        height: 60px !important;
      
    
    }
    .comentario div{
        padding-bottom: 24px;
       
    }
    
.input-group{
    width: 100%;
}

    .datos-generales{
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        
    }
    .comentarios{
        height: 300px;
        margin-top: 6%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .comentarios .comentario{
        margin-bottom: 5%;
        
    }

    .datos-generales p{
        margin: 4% 0;
    }

    span{
       display: none;
    }

    .titulo-cancion-table{
        min-width: 170px;
    }

    #navbarSupportedContent a{
        font-size: 15px;
        color: #FFFFFF;
        text-align: start;
    }

    h2{
        font-size: 20px;
    }

    #estrellas-playlist{
        width: auto;
    }

    .votosRecientes2 img{
        width: 60px;
        height: auto;
        border-radius: 10px;
      
      }

    .votosRecientes2 article{
        max-width: 60px;
        margin-right: 15px;
        height: auto;
    }
      
    .votosRecientes2 {
      padding-bottom: 5%;
    }


    .back, .front, .inner, #flip{
        height: 80px ;
        width: 80px;
        min-height: 80px !important;
        min-width: 80px !important;
    }

    
    

    .j{
        display: none;
    }
    
    .buscador{
        display: none;
    }
    #popvoto{
        width: 100%;
        height: 35%;
        margin-left: 0;
        left: 0;
    }

    .botones{
        padding-left: 5%;
    }

    .detalle .botones {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detalle :nth-child(2) {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .detalle :nth-child(2) h2 {
        margin-bottom: 0;
    }
    
    .detalle :nth-child(2) img {
        margin-right: 0;
     
    }

    .detalle :nth-child(2) p {
        margin-top: 4%;
     
    }

    .detalle{
       
        flex-direction: column;
     
    }

    #img-playlist{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }

    


    td{
        font-size: 12px;
    }

    tr{
        font-size: 12px;
    }

    .detalle .botones img{
        width: 30px;
        height: 30px;
        margin-right: 10%;
       
    }
    
    table{
        display: none;
    }

    .t2{
        display: block;
    }

    #btn-playlist{
        width: 40%;
        font-size: 12px;
        height: 25px;
        padding-bottom: 0.4%;
        
          
      }
    /* Barra nav */
    .logo-barra span{
        display: none;
    }

    #fondo-barra{
        padding: 4%;
        width: 100%;
        height: 9%;
    }

    #logo{
        width: 80px;
    }

    /* Barra nav */

    /* Seccion introduccion */
    .imagen-discos{
        display: none;
    }

    .texto-introduccion {
        font-family: Ramabhadra;
        margin: 0 10%;
        display: inline-block;
        text-align: center;
        color: white;
    }

    .texto-introduccion h1{
        text-align: center;
        display: inline-block;
        margin: 10% 0 20% 0;
        font-size: 25px;
    }

    .texto-introduccion h2{
        display: inline-block;
        padding-top: 5%;
        font-size: 15px;
        text-align: center;
    }
    
    .texto-introduccion .btn-prueba{
        width: 100%;
        font-size: 14px;
    }

    .texto-introduccion p {
        font-size: 12px;
    }
    /* Seccion introduccion */

    /* Planes */
    .ofertas h1{
        font-size: 25px;
        padding-bottom: 10%;
    }

    .tarjeta{
        margin: 0 2%;
        width: 45%;
        height: auto;
        font-size: 10px;
    }

    .tarjeta-ubicacion{
        height: 400px;       
        width: 100%;
    }

    .tarjeta-dividida{
        width: 100%;
    }

    .encabezado{
        width: 100%;
    }

    .encabezado h3{
        padding-top: 10%;
        margin: 0;
        font-size: 20px;
    }

    .item-beneficio img{
        margin-right: 3%;
        width: 11px;
    }
    
    .item-desventaja img{
        margin-right: 3%;
        width: 7px;
    }

    .elementos-precios .btn{
        width: 60%;
    }

    .elementos-precios a{
        font-size: 10px;
    }

    footer img{
        display: none;
    }
    
    .footer-mobile-azul{
        display: inline;
        width: 100%;
    }
    /* Planes */

    /* Log In */
    .login {
        border-style: none;
        display: block;
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
        color: white;
    }
    .btn-login{
        margin: 15% 0 2% 0;
    }
    .titulo-login{
        font-size: 25px;
    }

    .login input{
        height: 40px;
    }

    .login label {
        font-size: 15px;
        margin-top: 10%;
    }

    .login p {
        font-size: 10px;
    }

    .footer-mobile-dark{
        display: inline;
        width: 100%;
    }
    /* Log in */

    /* Registrarse */
    .titulo-registro{
        font-size: 25px;
    }

    .registro {
        border-style: none;
        display: block;
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
        color: white;
    }

    .registro input{
        height: 40px;
    }

    .registro label{
        font-size: 15px;
        margin-top: 10%;
    }

    /* Registrarse */
    
    /* Reproductor datos mobile */
    .datos-mobile{
        text-align: center;
    }

    .datos-cancion-mobile p{
        text-align: left;
    }

    .datos-cancion-mobile img{
        width: auto;
        height: 30px;
    }

    .reproductor-datos{
        background-color: #323232;
        color: #DFDFDF;
    }

    .reproductor-datos hr{
        width: 100%;
    }

    .reproductor-datos .flecha-volver{
        width: 30px;
    }
    /* Reproductor datos mobile */
    .carrousel article :nth-child(2){
        margin-top: 5px;
        font-size: 12px;
     

    }



    #titulo-carrousel img { 
        display: none;
    }
    
    .carrousel article :nth-child(3){
        font-size: 10px;
     
    }

    .carrousel article {
        margin-right: 15px;
        max-width: 80px;
    }
  

    .carrousel img {
        max-width: 80px;
        width: 80px;
        height: 80px;
    }


    .playlist .carrousel article div {
        max-width: 80px;
        width: 80px;
        height: 80px;
        min-width: 80px;
        min-height: 80px;
    }


    .carrousel{
       margin-top: 4%;
        padding-bottom: 3%;
        margin-bottom: 10%;
    }
    
    .coleccion{
        display: block;
  

    }   

    
    

    #titulo-contenido{
        display: none;
    }
    
    #dropdown-user{
        display: block;
    }
    .nav-celu{
        display: flex;
    }

    p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .reproductor{
        bottom: 8.9%;
        padding-left: 8%;
        padding-right: 8%;
        height: 12%;
        width: 100%;
        padding-bottom: 0;
        background: #030303;
    }
    .reproductor #duracion, .secundario,  .acciones, .config , .shuffle{
        display: none;}

    .reproductor .botones-reproductor{
        left: 82%;
        
    }
    .contenedor{
       margin-top: 4%;     
         
    }

     .cancion-reproduciendo p{
        font-size: 10px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .cancion-reproduciendo :nth-child(3) :nth-child(2){
        display: none;
    }

  

    .cancion-reproduciendo #titulo-cancion {
        font-size: 12px;
    }


    .reproductor .principal{
        width: 10vw;
        height: auto;
        margin-right: 0;
        
    }

    .cancion-reproduciendo img{
        width: 14vw;
        height: auto;
    }

    #expandir2{
        display: block;

    }
    #expandir{
        display: none;

    }

    .menu{
        display: none;
    }
    .inicio{
        top: 9%;
        left: 0;
        width: 100%;
        padding-left: 8vw;
        padding-right: 8vw;
        padding-top: 9% !important;
        height: 70%;
       
      
    }
    h1{
        margin: 0 0 5% 0;
        font-size: 20px;
     
    }

    hr{
        display: none;
        
    }

    .nav-cel-top{
        display: flex;
    }
    
   
}